<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.WindowsAppRuntime" publicKeyToken="..." culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="999.999.999.999" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<!-- Disable Windows App SDK auto-initialization -->
		<add key="WindowsAppSDKDisableAutoInitialization" value="true" />
	</appSettings>
</configuration>
