name: .NET Build Only

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 9.0.x

      - name: Restore dependencies for win-x64
        run: dotnet restore --runtime win-x64

      - name: Build solution for win-x64
        run: dotnet build --configuration Release --no-restore --runtime win-x64
